body {
    background-color: #fff;
}

.ball {
    width: auto;
    height: auto;
    overflow: visible;
    margin: 5px;
    font-size: 24px;
}

.trophy {
    width: auto;
    height: auto;
    overflow: visible;
    margin: 5px;
    font-size: 120px;
}
